{% extends "base.html" %}

{% block title %} {{usuario.get_full_name}} {% endblock %}

{% block content %}
<div class="row">
<div class="col-4 card bg-ligth  mt-2">
    <div class="card-header bg-primary">Perfil</div>
    <div class="card-body bg-ligth">

        <div class="row">
        <div class="col-4">
         <strong>Username: </strong>   
        </div>
        <div class="col">
           {{usuario.username}} 
        </div>
        </div>

        <div class="row">
        <div class="col-4">
         <strong>Nombre: </strong>   
        </div>
        <div class="col">
            {{usuario.get_full_name}}
        </div>
        </div>

        <div class="row">
        <div class="col-4">
         <strong>Zona: </strong>   
        </div>
        <div class="col">
           {{usuario.zona}} 
        </div>
        </div>

        <div class="row">
        <div class="col-4">
         <strong>Puntuacion: </strong>   
        </div>
        <div class="col">
            {% if usuario.puntuacion != 0 %}
                {{usuario.puntuacion}}
            {% else %}
                No puntuado
            {% endif %}
        </div>
        </div>

        <div class="row">
            {% if user.id == usuario.id %}
            <a href="{% url 'usuario:actualizar' user.id %}">
            <button class="btn btn-info">Actualizar</button></a>
            {% endif %}
        </div>

    </div>
</div>
<div class="col-8">
    Por implementar
    <!-- <div class="row">
        {% include "usuario/login.html" %}
    </div>
    <div class="row">
        {% include "usuario/login.html" %}
    </div> -->
</div>
</div>
</div>
{% endblock %}
