{% extends "base.html" %}

{% block title %} {{usuario.get_full_name}} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm">
   
        {% include "usuario/perfilCard.html" %}

            <div class="row">
                {% if user.id == usuario.id %}
                <div class="col">
                    <a href="{% url 'usuario:actualizar' user.id %}">
                        <button class="btn btn-info">Actualizar</button></a>
                </div>
                <div class="col">
                    <form method="post" action="{% url 'usuario:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Cerrar sesion</button>
                    </form>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <a href="{% url 'usuario:finalizadas' user.id %}">
                        <button class="btn btn-info">Publicacion finalizadas</button></a>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
    </div>
    <div class="col-md ml-2">
        {% include "publicacion/list.html" with publicaciones=usuario.publicaciones.all %}

        {% include "comentarios/lista.html" with comentarios=usuario.comentariosRecibidos.all %}
    </div>
</div>
{% endblock %}
