{% extends "base.html" %}

{% block title %} {{categoria.nombre}} {% endblock %}

{% block content %}
<div class='rounder'>
  <h1 class='text-center m-2 '> {{categoria.nombre}} </h1>
</div>
<div class="text-right">

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {% for p in categoria.publicaciones.all %}
        <tr>
          <th scope="row" "> {{p.titulo}} </th>
          <td>{{p.descripcion}}</td>
          <td><a href="{% url 'publicacion:detalle' p.id %}" class="btn btn-info" role="button">
            Ir</a></td>
        </tr>
        {% empty %}
        <tr class=" col-6 mx-auto mt-2">
          <h3>Nada por aqui</h3>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}