{% extends "base.html" %}

{% block title %} {{publicacion.titulo}} {% endblock %}

{% block content %}
<div class="col-10 mx-auto mt-2">
    <div class="card bg-ligth">
        <div class="card-header bg-primary text-white ">
            {{publicacion.titulo}}
        </div>
        <div class="card-body">
            <div class="card-subtitle text-muted">
                Publicado por <a href="{% url 'usuario:perfil' publicacion.creador.id%}">
                    {{publicacion.creador.get_full_name}} </a>
            </div>

            <div class="card-text">
                <p>{{publicacion.descripcion}}</p>
                <p>Zona: {{publicacion.creador.zona}}</p>
            </div>

            <div class="container">
                <div class="row">
                    {% if user.is_authenticated %}
                    {% if user.id != publicacion.creador.id %}
                    <div class="col-sm">
                        <form method="post" action="{% url 'publicacion:postularse' publicacion.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="postulantes" value="{{user.id}}">
                            <button class="btn btn-success" type="submit">Postularse</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="col-sm text-left mr-2">
                        <a href="{% url 'publicacion:actualizar' publicacion.id %}">
                            <button class="btn btn-info" type="submit">Actualizar</button>
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                </container>
            </div>
        </div>
        <div class="card-footer">
            {{publicacion.fecha}}
        </div>

    </div>

</div>
{% if user.is_authenticated %}
{% if user in publicacion.postulantes.all or user.id == publicacion.creador.id %}
<div class="col-10 mx-auto mt-2">
    <div class="card">
        <div class="card-header bg-primary">Postulantes</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for postulante in publicacion.postulantes.all %}
                <li class="list-group-item">{{postulante.get_full_name}}</li>
                {% endfor %}
            </ul>

            {% if user.id == publicacion.creador.id %}
            <a href="{% url 'publicacion:finalizar' publicacion.id %}" type="button"
                class="btn btn-warning">Finalizar</a>
            <!-- <p>{{publicacion.responsable}}</p> -->
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<div class="col-10 mx-auto mt-2">
    <!-- <div class="row"> -->
    <div class="card">
        <div class="card-header">Comentarios</div>
        {% if user.id != publicacion.creador.id %}
        <div class="card-body">
            <form method="post" action="{% url 'comentario:nuevo' %}">
            {% csrf_token %}
            <label for="ComentarioTextarea">Comentarios</label>
            <textarea name="texto" class="form-control" placeholder="Deja un comentario" id="ComentarioTextarea" ></textarea>
            <label for="puntuacionCom">Puntuacion</label>
            <input type="range" class="form-range" min="1" max="10" step="1" id="puntuacionCom" name="puntuacion" default="7">
            <input type="hidden" name="pub" value="{{publicacion.id}}">
            <input type="hidden" name="hacia" value="{{publicacion.creador.id}}">
            <button type="submit" class="btn btn-success">Comentar</button>
            </form>
        </div>
        {% endif %}
    </div>
    <!-- </div> -->
    {% for coment in publicacion.comentarios.all %}
        <div class="card mt-2">
            <div class="card-body">
                {{coment.texto}}
            </div>
            <div class="footer text-muted">
                {{coment.autor}}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
    {% if user.id != publicacion.creador.id %}
        <div class="col-10 mx-auto mt-2 text-muted">
            <a href="{% url 'denuncias:crear' publicacion.id %}"> Denunciar</a>
        </div>
    {% endif %}
{% endblock %}
